//variables and mixins
@import "md/variables";
@import "md/mixins";
@import "md/shadows";

//plugin css
@import "md/plugins/_perfect-scrollbar";

@import "md/chartist";
@import "md/cards";

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #558b2f, // The primary color of your application
  accent: #d84315, // The accent or secondary color
  graph: #ffffff,
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

